##################################################################################
#
# Olza Logistic's Pickup Points API client
#
# @author    Marcin Orlowski <marcin.orlowski (#) develart (.) cz>
# @copyright 2022-2024 DevelArt
# @license   http://www.opensource.org/licenses/mit-license.php MIT
# @link      https://github.com/develart-projects/pickup-points-api-client/
#
##################################################################################

parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
  paths:
    - src/
    - tests/
  # ignoreErrors:
  #  - '#^Unsafe usage of new static\(\)\.$#'
